* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

header {
    background-image: url(assets/header-banner.png);
    background-size: cover;
    padding: 4rem 0 2rem;
    color: #ffffff;
}

header h1 {
    font-weight: 400;
    font-size: 3.375rem;
}

header .header-down-arrow {
   margin-top: 1rem;
}

/*A classe container serve pra colocar o padding na horizontal*/
.container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.highlight-text-blue {
   color: #1530EC;
   font-style: italic;
}

.img-muck-section {
    width: 100%;
}

.muck-project-section h3 {
   font-size: 1.6rem;
   font-weight: 400;
   margin-bottom: 1rem;
}

.muck-project-section p {
   font-weight: 400;
   margin-bottom: 2rem;
}

.muck-project-section-secondary-works {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 2.5rem;
}

.muck-project-section-secondary-works .project-card {
    flex: 1;
}

.project-card .img-muck-section {
   height: 225px;
   width: 100%;
   object-fit: cover;
}

.project-card h4 {
   font-size: 1.5rem;
   margin-top: 1.5rem;
   font-weight: 400;
}

.section-title {
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem 0;
    text-transform: uppercase;
    display: flex;
    gap: 0.5rem;
}

.work-section {
    margin-bottom: 1.5rem;
}

.work-section .work-section-description {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.work-section .work-section-subtitle {
    font-size: 0.875rem;
    font-weight: 200;
}

.work-section .work-section-description-container {
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px #1f1f1f solid;
}

.banner2 {
    background-image: url(assets/header-banner.png);
    background-size: cover;
    padding: 4rem 1.5rem 2rem;
    justify-content: center;
    color: #ffffff;
}

.Services {
    padding-bottom: 2rem;
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 200
}

.barra {
    display: inline-flex;
    align-items: center;
}

.scroll-to-explore {
    width: 18.5rem;
    display: none;
}

.title-header-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact a {
    text-decoration: none;  /* tentei fazer o sublinhado dos 3 links do contact me sumirem mas não consegui*/
    color: #000000;
}

a:hover {
    color: purple;  /* tentei fazer ficar roxo quando pass o mouse nos 3 links do contact me*/
}

.footer {
    background-image: url(assets/header-banner.png);
    background-size: cover;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact-info span{
    font-size: 0.6rem;
}

.contact-info{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*
Conteúdo sobre media query:
https://www.w3schools.com/css/css_rwd_mediaqueries.asp

Aplicar regras enquanto a tela for menor ou igual 600px
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

Aplicar regras enquanto a tela for maior ou igual 600px
@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
}

Mobile first:
O site é primeiro desenvolvido para mobile e depois fazemos as regras para desktop

Site responsivo:
É um site que se adapta tanto para o mobile quanto para o desktop
*/
@media only screen and (min-width: 600px) {
    header h1 {
        font-size: 4.5rem;
    }

    /* No desktop os projetos secundarios do muck devem ficar ordenados em linha */
    .muck-project-section-secondary-works {
        flex-direction: row;
    }

    .project-card .img-muck-section {
        height: 300px
    }
}

@media only screen and (min-width: 900px) {
    header h1 {
        font-size: 6.5rem;
    }

    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .scroll-to-explore {
        display: block;
    }


    .project-card .img-muck-section {
        height: 450px;
    }
}
